@model SSR.Models.PostUpdateDto

@{
    ViewData["Title"] = "Editing a Post by " + Model.AuthorName;
}

<h1 class="text-center mb-4">Edit Post</h1>

<div class="container">
    <form asp-action="Edit" asp-controller="Post" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" required>
        </div>

        <div class="form-group mb-3">
            <label asp-for="AuthorName" class="form-label"></label>
            <input asp-for="AuthorName" class="form-control" required>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Content" class="form-label"></label>
            <textarea asp-for="Content" class="form-control" rows="4" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Update Post</button>
    </form>
</div>