@model IEnumerable<SSR.Models.Post>

@{
    ViewData["Title"] = "Posts by " + Model.First().Author.Name;
}

<h1>Posts</h1>

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var post in Model)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.Content</td>
        </tr>
    }
    </tbody>
</table>

@Html.ActionLink("Back to authors", "Index")