@{
    ViewData["Title"] = "About CWGraph";
}
<h1>@ViewData["Title"]</h1>

<p>This is actually a coursework project made for Distributed Systems and Cloud Computing. 
    I don't know whether will this page get impression or not, but personally I'm hoping for a pass.</p>